* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  color: white;

}
html {
  scroll-behavior: smooth;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 30px;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  position: fixed;
  top: 0;
  z-index: 1;
}
nav ul{
  display: flex;
  gap: 55px;
}
nav ul li {
  list-style: none;
}
nav img {
  width: 65px;
}
.mobile_nav {
  display: none;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 4000;
}
nav p{
  font-size: 18px;
}
#change_theme{
  cursor: pointer;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.container .img-section img {
  width: 470px;
  padding-top: 10px;
}
.container .text-area h1 {
  font-size: 50px;
  padding-top: 120px;
  line-height: 80px;
}
.container .text-area {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-left: 100px;
}
.container .text-area i {
  font-size: 25px;
  padding-right: 18px;
}
.container .text-area button {
  height: 7vh;
  width: 160px;
  background-color: rgb(207, 27, 27);
  border: none;
  border-radius: 10px;
  margin-top: 19px;
  cursor: pointer;
}
.container .text-area button a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(207, 27, 27);
  position: relative;
  margin-top: 150px;
  width: 100%;
}
.heading h1 {
  font-weight: 700;
  font-size: 40px;
}
.heading div {
  background-color: rgb(207, 27, 27);
  height: 0.26rem;
  width: 100px;
  position: absolute;
  top: 48px;
}
.about .img_section img {
  width: 300px;
  height: 500px;
  border-radius: 20px;
}
.about {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.about .text_area h2 {
  margin-bottom: 20px;
  font-size: 33px;
}
.about .text_area p {
  font-size: 15px;
  line-height: 25px;
}
.intro {
  display: none;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 60px;
  text-align: center;
  padding-top: 120px;
  height: 40vh;
  padding: 120px 300px 0px 300px;
  width: 100%;
}

.skills .div1 {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
.skills .div2 {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}
.skills .div3 {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}
.skills .div4 {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
}
.skills .div5 {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
}
.skills .div6 {
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
}

.skills .div1 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.skills .div2 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.skills .div3 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.skills .div4 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.skills .div5 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.skills .div6 div {
  background-color: rgb(207, 27, 27);
  height: 0.3rem;
  width: 103%;
  position: absolute;
  top: 35px;
  border-radius: 10px;
}

.button {
  text-align: center;
  margin-top: 40px;
}
.button a {
  background-color: rgb(207, 27, 27);
  color: white;
  text-decoration: none;
  padding: 0.75rem 2.5rem;
  font-weight: 800;
  font-size: 18px;
  border-radius: 10px;
}
.form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.form input {
  height: 50px;
  border-radius: 10px;
  width: 300px;
  padding-left: 20px;
}
.form input::placeholder {
  font-weight: 600;
  font-size: 15px;
}
.form .subject {
  height: 300px;
}
.form button {
  height: 45px;
  width: 120px;
  background-color: rgb(207, 27, 27);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
footer {
  height: 33vh;
  width: 100%;
  background-color: #14191b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}
footer span {
  font-size: 25px;
}
footer span i {
  margin-right: 20px;
}
footer h1 {
  font-size: 30px;
}
footer p {
  font-weight: 600;
}
#icon{
  cursor: pointer;
  width: 40px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(20, 25, 27);
}
::-webkit-scrollbar-thumb {
  background: rgb(207, 27, 27);
  border-radius: 10px;
}
nav .fa-bars {
  display: none;
}
.mobile_project {
  display: none;
}

.test .div1 img {
  width: 300px;
  border-radius: 15px;
}

.test  .div2 img {
  width: 300px;
  border-radius: 15px;
}

.test  .div3 img {
  width: 300px;
  border-radius: 15px;
}

.test  .div4 img {
  width: 300px;
  border-radius: 15px;
}

.test  .div5 img {
  width: 300px;
  border-radius: 15px;
}

.test  .div6 img {
  width: 300px;
  border-radius: 15px;
}

.test div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  nav {
    display: none;
  }

  .mobile_nav {
    display: block;
    display: flex;
    position: fixed;
    top: 0;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    z-index: 1;
  }
  .mobile_nav img {
    width: 65px;
  }

  .fa-bars {
    font-size: 28px;
  }
  .container {
    flex-direction: column;
    margin-left: -80px;
    margin-top: -70px;
  }
  .container .text-area h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .container .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .container .img-section {
    position: absolute;
    left: 30%;
    top: 340px;
  }

  .container .img-section img {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }
  .about .img_section img {
    width: 200px;
    height: 300px;
  }

  .about .text_area {
    margin-top: -70px;
    text-align: center;
  }

  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    padding-top: 120px;
    height: 40vh;
    padding: 0px 30px;
    margin-top: 20px;
  }

  .skills .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .skills .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .skills .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .skills .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .skills .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .skills .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .intro {
    display: block;
  }
  .intro_1 {
    display: none;
  }
}
